{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/generalStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/alunosStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/escolasStyles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Escola</title>
  </head>
  <body>
    <form class="adicionar_escolas generalPadding" action="/salvar-edicao-escola" method="post">
      {% csrf_token %}
      <label for="campo_nome_da_escola">Nome: </label>
      <input type="text" name="id" value="{{escola.id}}" style="display: none" />
      <input
        type="text"
        id="campo_nome_da_escola"
        name="campo_nome_da_escola"
        value="{{escola.nome}}"
      />
      <label for="campo_tipo_da_escola">Tipo: </label>
      <input
        type="text"
        id="campo_tipo_da_escola"
        name="campo_tipo_da_escola"
        value="{{escola.tipo}}"
      />
      <input type="submit" value="Salvar Edição na Escola" class="margin_left_auto" />
    </form>
  </body>
</html>
