{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/generalStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/alunosStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/escolasStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/matriculasStyles.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="{% static 'javascript/jquery.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Projeto</title>
  </head>

  <body>
    <div class="alunos_container">
      <p class="generalPadding">Nome dos Alunos</p>

      <ul class="lista_de_alunos generalPadding" id="lista_de_alunos">
        {% for aluno in alunos %}
        <li>
          {{aluno.nome}}
          <div class="links_container">
            <button onclick="editarAlunoViaAjax('/editar-aluno-ajax/{{aluno.id}}','{{ csrf_token }}','{{aluno.id}}' )" type="button">Editar</button>
            <button onclick="excluirAlunoViaAjax('/excluir-aluno-ajax/{{aluno.id}}','{{ csrf_token }}','{{aluno.id}}' )" type="button">Excluir</button>
          </div>
        </li>
        {% endfor %}
      </ul>

      <!--<form class="adicionar_alunos generalPadding" action="inserir-aluno" method="post">-->
      <form class="adicionar_alunos generalPadding" method="post">
        {% csrf_token %}
        <label for="campo_nome_do_aluno">Nome: </label>
        <input
          name="campo_nome_do_aluno"
          type="text"
          id="campo_nome_do_aluno"
          placeholder="Ex: Pedro Lucas"
        />
        <input
          type="submit"
          value="Adicionar Aluno"
          class="margin_left_auto"
          id="inserir_aluno"
        />
        
      </form>
      <button onclick="adicionarAlunoViaAjax('/inserir-aluno-ajax','{{ csrf_token }}')" type="button">enviar aluno ajax</button>
    </div>

    <div class="escolas_container">
      <p class="generalPadding">Dados das Escolas</p>

      <ul class="lista_de_escolas generalPadding" id="lista_de_escolas">
        {% for escola in escolas %}
        <li>
          {{escola.nome}} - {{escola.tipo}}
          <div class="links_container">
            <button onclick="editarEscolaViaAjax('/editar-escola-ajax/{{escola.id}}','{{ csrf_token }}','{{escola.id}}' )" type="button">Editar</button>
            <button onclick="excluirEscolaViaAjax('/excluir-escola-ajax/{{escola.id}}','{{ csrf_token }}','{{escola.id}}' )" type="button">Excluir</button>
          </div>
        </li>
        {% endfor %}
      </ul>

      <form class="adicionar_escolas generalPadding" action="inserir-escola" method="post">
        {% csrf_token %}
        <label for="campo_nome_da_escola">Nome: </label>
        <input
          type="text"
          id="campo_nome_da_escola"
          name="campo_nome_da_escola"
          placeholder="Ex: Colégio Expressão"
        />
        <label for="campo_tipo_da_escola">Tipo: </label>
        <input
          type="text"
          id="campo_tipo_da_escola"
          name="campo_tipo_da_escola"
          placeholder="Ex: Ensino Médio"
        />
        <input type="submit" value="Adicionar Escola" class="margin_left_auto" />
      </form>
      <button onclick="adicionarEscolaViaAjax('/inserir-escola-ajax','{{ csrf_token }}')" type="button">enviar escola ajax</button>
  
    </div>

    <div class="matriculas_container">
      <p class="generalPadding">Matriculas</p>

      <ul class="lista_de_matriculas generalPadding" id="lista_de_matriculas">
        {% for matricula in matriculas %}
        <li>
          {{matricula.aluno.nome}} - {{matricula.escola.nome}}
          <div class="links_container">
            <button onclick="editarMatriculaViaAjax('/editar-matricula-ajax/{{matricula.numero_de_matricula}}','{{ csrf_token }}','{{matricula.numero_de_matricula}}' )" type="button">Editar</button> | 
            <button onclick="excluirMatriculaAjax('/excluir-matricula-ajax/{{matricula.numero_de_matricula}}','{{ csrf_token }}','{{matricula.numero_de_matricula}}' )" type="button">Excluir</button>
          </div>
        </li>
        {% endfor %}
      </ul>

      <form class="adicionar_matriculas generalPadding" action="inserir-matricula" method="post">
        {% csrf_token %}

        <select name="aluno_id" id="aluno" required>
          {% for aluno in alunos %}
          <option value="{{aluno.id}}">{{aluno.nome}}</option>
          {% endfor %}
        </select>

        <select name="escola_id" id="escola" required>
          {% for escola in escolas %}
          <option value="{{escola.id}}">{{escola.nome}}</option>
          {% endfor %}
        </select>

        <input type="submit" value="Cadastrar Aluno na Escola" class="margin_left_auto" />
      </form>

      
      <button onclick="adicionarMatriculaViaAjax('/inserir-matricula-ajax','{{ csrf_token }}')" type="button">enviar matricula ajax</button>
      

      <div id="edicao_matricula"></div>




    </div>
  </body>
</html>
